*{
    box-sizing: border-box;
}

body{
    font-family: Verdana, sans-serif; margin:0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    justify-items: center;

}
main{
  background-color: white;
  width: 80%;
  border-left: 1px solid black;
  border-right: 1px solid black;

}
a{
  text-decoration: none;
  color: white;
}

button#signup_button{
    height: 30px;
    width: 100%;
    background-color: white;
    color: #fe424d;
    border: 2px solid #fe424d;
    border-radius: 25px;
    font-size: 1rem;

}

img{
  display: block;
  max-width: 100%;
  height: auto;

}
/*=======================================================================*/
/*============================= HEADER ==================================*/
/*=======================================================================*/
#logo,.header #logolink{
    width: 100px;
    height: auto;
    display: block;
}
.header{
    background-color: #022d41;
    color: white;
    display: grid;
    grid-template-columns: .25fr 1fr;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    height: 45px;
    padding: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    position: sticky;
    top: 0;
    z-index: 99;
  }
  .navbar button{
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 25px;
    padding: .5rem;
    width: 7rem;
  }
  button#logout_button,button#login_button{
    background-color: #fe424d;
    border: none;
    color: white;
    border-radius: 25px;
    padding: .5rem;
    width: 7rem;
    height:30px;
  }
  .navbar {
    background-color: #022d41;
    width: auto;
    height: 45px;
    display: grid;
    grid-template-columns: 130px 130px 130px 130px;
    justify-content: flex-end;
    align-items: center;
  }
  .navbar a{
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
  }
  .navbar a:hover{
      background-color: #004444;
      text-align: center;
  }

  button#menubar,button#close{
      display: none;
  }
  .dropbutton {
    overflow: hidden;
    }
  .dropbutton .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown{
    display: none;
    background-color: #022d41;
    min-width: 160px;
    position: fixed;
    top: 2.5rem;
    padding: 12px 16px;
    margin-right: 1rem;
    z-index: 1;
    text-align: center;
    font-size: 1vw;
  }

  .dropbutton a{
    color: white;
    padding: 12px 16px;
    margin-right: 1rem;
    text-decoration: none;
    background-color: #022d41;
    display: block;
    text-align: center;
  }

  .dropbutton a:hover {
    background-color: #004444;
  }

  .dropbutton:hover .dropdown {
  display: flex;
  flex-flow: column nowrap;

  }

@media screen and (max-width:700px){
    .header{
        display: grid;
        grid-template-columns: 1fr .15fr;
        padding: 0.5rem;
    }
    button#menubar,button#close{
        display: block;
        background-color: inherit;
        color: white;
        border: none;
        padding: 0;
        font-size: 24px;
    }

    .navbar{
        display: none;
    }

    body.show-menu .navbar{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 50px 50px 50px;
        justify-items: center;
        height: 200px;
        width: 100%;
        position: absolute;
        top: 2.5rem;
        right: 0;
        text-align: center;

        padding-right: 1rem;
    }
    .dropdown{
        font-size: 2vw;
        top: 6rem;
        left: 56.5%;
        padding: 0;
        margin: 0;
    }
}


/*=======================================================================*/
/*============================= Index Page ==============================*/
/*=======================================================================*/
.slider{
    width: 100%;
    height: auto;
    background-color:#daecf3;
}

.mySlides {display: none}
.slideshow-container img {
    vertical-align: middle;
    width: 1500px;
    height: 400px;
}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: 0;

}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}
.prev{
  left:0;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


/* Number text on left corner of slider*/
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}


.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.3}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.3}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next {font-size: 11px}
}

/* icons under the slider */
.services{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
    margin: 3rem;
    text-align: center;
}
.services span img{
    width: 7rem;
    height: 7rem;
    margin: 0;
    padding: .5rem;
    border-radius: 50%;
    background-color: #022d41;

}
.services span{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr .25fr .25fr;
    justify-content: center;
    justify-items: center;
    width: 10rem;
    height: 10rem;
    overflow: hidden;
    padding: 0;
    margin: 0;
    position: relative;


}
.services span p{
  display: none;
  margin: 0;
  font-size: .75rem;
}
.services span:hover p{
      display: grid;
      color: #fe424d;

}


/* intr0duction text below the data chart */
.intro{
    display: grid;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.intro p{
    text-align: center;
    padding: 2.5rem;;
}
.intro h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: .25rem;
}
hr{
    width: 100%;
    margin-bottom: 1rem;
}
.intro button{
    background-color: #022d41;
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    padding: .5rem;
    width: 7rem;
    margin: 1rem;
}

.is-this-you{
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 100%;
  background-color: #daecf3;
  align-items: center;
}

@media only screen and (min-width: 600px){
  .is-this-you{
    font-size: 150%;
  }
  .services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

}

/*=======================================================================*/
/*============================= LOGIN  ==================================*/
/*=======================================================================*/


.login{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  background-color: #daecf3;
  height:100vh;
}
.login #welcomeblock{
  display: none;
}

.login-box{
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  width: 100%;
}
.login input{
  background-color: transparent;
  border: .15rem solid black;
  border-radius: 25px;
  width: 100%;
  height: 1.5rem;
  margin: .5rem;
  padding: 1rem;
  outline: inherit;
}
.login .login-box #login_button{
  width: 80%;
  height: 2rem;
  border-radius: 25px;
  border: 1px solid transparent;
  font-size: 1rem;
  align-items: center;
}
.login-box #userimg{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;

}

.login-box .check-box{
    display: grid;
    grid-template-columns: .1fr .75fr;
    justify-content: center;
    font-size:.5rem;
    color: rgb(66,33,11);
    font-weight: bolder;
    align-items: center;
    justify-items: center;
    margin: 0;
    padding: 0;
}
.login-box .check-box input{
    background: transparent;
    border: 1px solid rgb(10,73,88);
    width: max-content;
    margin: 0;
    padding: 0;
    height: auto;
}

.psw{
    margin-bottom: 3rem;
    font-size: .5rem;
    color: rgb(66,33,11);
    margin: 0;
    padding: 0;
}
.psw a{
    text-decoration: none;
    color: rgb(10,73,88);
    font-weight: bolder;
}
.inline{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    width: 100%;
    align-items: center;
    height: 40px;
}

.login-box .signup_button{
    font-size: .75rem;
    margin: .5rem;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    justify-items: center;
}
 button#login_button1{
    background-color: white;
    color:#fe424d;
    font-size: 1rem;
    border:2px solid #fe424d;
    border-radius: 25px;
    text-align: center;
    height:30px;
    width:100%;
}
.signup_button a{
  display: grid;
  border: 2px solid #fe424d;
  color: #fe424d;
  width: 100%;
  height: 30px;
  text-align: center;
  align-content: center;
  font-size: 1rem;
  border-radius: 25px;
  margin-top: 10px;
}
@media screen and (min-width:600px){
  .login {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    background-color: white;

  }
  
  .login #welcomeblock{
    display: grid;
    justify-items: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-bottom: 3rem;
    background-color: #daecf3;
    padding-left: 2rem;
  }
}
/*=======================================================================*/
/*============================= SIGN UP ==================================*/
/*=======================================================================*/


.signup{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #daecf3;
}
.signup #welcomeblock{
  display: none;
}

.signup-box{
  display: grid;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  margin-top: 2rem;

}
.signup input{
  background-color: transparent;
  border: 2px solid black;
  border-radius: 25px;
  width: 50%;
  height: 2rem;
  margin: 5px;
  padding: .5rem;
  outline: inherit;
}
.signup .signup-box #addbtnn{

  width: 80%;
  height: 30px;
  border-radius: 25px;
  background-color: #fe424d;
  color:white;
  border: none;
}
.signup-box #userimg{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
  margin-bottom: 15px;

}
button#addbtnn.sign-button{
    width:40%!important;
    font-size: 1rem;
}

.gender{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  flex-grow: 1;
  width: 50%;
  height: 30px;
  margin-top: 0;
  font-size: 2vw;
  margin-left: 5%;
  margin-bottom: 20px;
}
.gender ul{
  display: grid;
  grid-template-columns: .5fr 20px;
  align-content: center;
  align-items: center;
  justify-items: center;
  justify-content: left;
  margin: 0;
  padding: 0;
}
.gender span{
  width: auto;
}
.gender input{
  margin: 0;
  padding: 0;
  width: 1rem;
  margin-top: 3px;
}
.bloodgroup{
  display: grid;
  grid-template-columns: .25fr .12fr .1fr .2fr;
  align-items: center;
  align-content: center;
  justify-items: center;
  width: 80%;
  margin-top: -10px;
  margin-bottom: -10px;
  margin-left: 26%;
  font-size: 2vw;
}

.bloodgroup select{
  margin-right: .5rem;
  background-color: transparent;
  border: .15rem solid black;
  border-radius: 5px;
  width: 100%;
  height: 2rem;
  margin: 1rem;
  padding: 1rem;
  outline: inherit;
}
.bloodgroup input{
  width: 80%;
  margin-left: -7%;
  border-radius:5px !important;
}
#gotologin{
  background-color: transparent;
  border: none;
  color: blue;
}

@media screen and (min-width:600px){
  .signup {
    display: grid;
    grid-template-columns: 60% 40%;
    height: 100%;
    background-color: white;
  }
  .signup #welcomeblock{
    display: grid;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100%!important;
    background-color: #daecf3;
    text-align: center;
    font-family: fantasy;

    position: sticky;
    top: 0;
  }
  .signup #welcomeblock h2{
      font-size: 5rem;
      font-weight: bold;
      margin: 0;
      padding: 0;
  }
  .bloodgroup,.gender{
    font-size: 1vw;
  }
}



@media screen and (max-width:600px){
  .signup{
      display: grid;
      grid-template-columns: 1fr;
  }
  .signup div:first-child{
      display: none;
  }
}

/*======================================================================================*/
/*========================================= APPOINTMENTS PAGE ==========================*/
/*======================================================================================*/

.donate{
  display: grid;
  grid-template-columns: 30% 70%;
  justify-content: center;
  height: 100%;
  background-color: #daecf3;

}
ul.centre_list{
    width: 100%;
    display: grid;
    justify-content: center;
}
.recentSearch p{
    margin: 20px;
}
.donate div.progress{
  background-color: lightgray;
}

.donate-box{
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: lightblue;
  padding: 20px;


}

.donate-box .loc{
  display: flex;
  flex-flow: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.donate input,.donate .selection{
    text-align: center;
    border: 3px solid black;
      border-radius: 25px;
      width: 18rem;
      height: 2rem;
      padding: .25rem;
      outline: inherit;
      font-size: 1rem;
      margin: 1rem;
}

.bar1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    width: 2.5rem;
    height: 70vh;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 25%;
    padding: 0;
    margin: 20% 45% 20% 45%;

}
.bar2{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    width: 2.5rem;
    height: 70vh;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 25%;
    padding: 0;
    margin: 20% 45% 20% 45%;
}
.bar3{
    display: grid;
    grid-template-rows: 1fr 1fr .5fr;
    width: 2.5rem;
    height: 70vh;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 25%;
    padding: 0;
    margin: 20% 45% 20% 45%;
}
.bar4{
    display: grid;
    grid-template-rows:1fr .5fr;
    width: 2.5rem;
    height: 70vh;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 25%;
    padding: 0;
    margin: 20% 45% 20% 45%;
}
.bar5{
    display: grid;
    grid-template-rows: 1fr;
    width: 2.5rem;
    height: 70vh;
    border: 3px solid black;
    border-radius: 20px;
    margin-top: 25%;
    padding: 0;
    margin: 20% 45% 20% 45%;
}

div.point{
    width: 100%;
    height: 100%;
    background-color: #fe424d;
    border-radius: 15px;
}

.loc_search{
      background-color: transparent;
      border: 3px solid #fe424d;
      color: white;
      border-radius: 25px;
      padding: 0;
      width: 120px;
      height: 35px;
      position: relative;
      margin-bottom: 1rem;
      background-color: #fe424d;
      font-size: 1.25rem;
}
.hide{
    display: none;
}
.entry{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 3px solid black;
    width: 25rem;
    text-align: center;
    padding: 2rem;
    margin: .5rem;
}
.entry2{
    display: grid;
    grid-template-columns:1fr;
    border: 3px solid black;
    width: 25rem;
    text-align: center;
    padding: 2rem;
    margin: .5rem;
}
.entry button{
    width: 80%;
    border-radius: 25px;
    background-color: white;
    border: none;
    color: #fe424d;
    height: 30px;
    font-size: 1.25rem;
}
.entry2 input{
    width: auto;


}
.start1{
    display: grid;
    align-items: center;
    background-color: #daecf3;
    border-radius: 25px 25px 0 0;
    width: 80%;
    height: 40px;
    text-align: center;
    color: black;
    font-style: italic;
    margin-bottom: 2rem;

}
.start h2{
    padding: 0;
    margin: 0;

}
.end{

    font-size: 1.25rem;
}
.recentSearchSelect{
    width: 30%;
    border-radius: 25px;
    background-color: #fe424d;
    border: none;
    color: white;
    height: 40px;
    font-size: 1.5rem;

}
.entry2 select,.entry2 #sub{
    height: 40px;
    border: 3px solid black;

    border-radius: 25px;
    text-align: center;
    margin-top: .5rem;
    outline: inherit;
    font-size: 1.5rem;

}
.entry2 #sub{
    border: 3px solid #fe424d!important;
    color:#fe424d!important;
    background-color: white;
    margin-top: 15px;

}
div.end h2{
    text-align: center;
}
.recentSearch div{
    display: grid;
    grid-template-columns: .4fr 1fr;

    border: 2px solid black;
    padding: 5px;
    height: 150px;

}
.recentSearch img{
    width: 120px;
    height: 120px;
    margin: 10px;


}

@media screen and (max-width:600px){
  .donate{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px 1fr;
      justify-items: center;
      align-items: center;
      height:100%;
  }
  .donate div{
      max-width: 100%;
  }

  .bar1{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
      height: 2.5rem;
      width: 60vh;
      overflow: hidden;
      margin: 0;
  }
  .bar2{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      height: 2.5rem;
      width: 60vh;
      overflow: hidden;
      margin: 0;
  }
  .bar3{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      height: 2.5rem;
      width: 60vh;
      overflow: hidden;
      margin: 0;
  }
  .bar4{
      display: grid;
      grid-template-rows:1fr 1fr;
      height: 2.5rem;
      width: 60vh;
      overflow: hidden;
      margin: 0;
  }
  .bar5{
      display: grid;
      grid-template-columns: 1fr;
      height: 2.5rem;
      width: 60vh;
      overflow: hidden;
      margin: 0;
  }
  div.point{
      width: 100%;
      height: 2.5rem;
      background-color: #fe424d;
      border-radius: 15px;
  }

}


/*======================================================================================*/
/*========================================= LEARN PAGE ================================*/
/*======================================================================================*/


.learn{
  display: grid;
  justify-content: center;
  justify-items: center;
}
.article{
  display: grid;
  grid-template-columns: 1fr;
  font-size: 4vw;
}
article{
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  padding-left: 3rem;
  padding-right: 3rem;

}
article:nth-child(odd){
  background-color: #daecf3;
  margin: 15px ;
}

article .img{
  grid-row: 1;
  width: 100%;
  height: 150px;
  display: block;

}
.quote{
  padding: 1rem;
  background-color: #daecf3;
  text-align: center;
  font-size: 3vw;
  width: 96%;
  margin: 15px;
  font-weight: bold;
}
article p {
  padding: .5rem;
}
@media screen and (min-width:600px){
  .article{
    font-size: 2vw;
  }
  article .img{
    grid-row: inherit;
    width: 100%;
  }
  article:nth-child(odd){
    display: grid;
    grid-template-columns: 1fr .5fr;
    justify-items: right;

  }
  article:nth-child(even){
    display: grid;
    grid-template-columns: .5fr 1fr;
    justify-items: left;

  }
  .quote{
    font-size: 1.5vw;
  }
}

@media screen and (min-width:900px){
  .article{
    font-size: 1.5vw;
    margin: 0;
  }
  article{
    padding-left: 5rem;
    padding-right: 5rem;
  }
  article .img{
    width: 70%;
    height: 150;
  }
  }


/*======================================================================================*/
/*========================================= About Us ================================*/
/*======================================================================================*/

.about .team{
  display: grid;
  background-color: lightblue;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.team span{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

}
main.about div.heading h1{
    margin: 40px;
    font-size: 3rem;
}
.whyWe{
    display: grid;
    grid-template-columns: .5fr 1fr;
    background-color: lightblue;
    font-size: 1.25rem;
    font-family: serif;
    min-height: 250px;

}
.whyWe img{
    height: 100%;
    width: 100%;
}
.whyWe div{
    margin: 0 20px 10px 20px;


}

.Contact {
    margin: 5% 10% 5% 10%;

}
.message textarea{
    border: 2px solid black;
    width: 100%;

}
.submit{
    height: 40px;
    width:8rem;
    background-color: white;
    color: #fe424d;
    border: 2px solid #fe424d;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 1.25rem;
}
.team hr{
  width: 100%;
  border: 1px solid black;
}
.team span div img{

  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
}
.team div{
  margin: 1rem;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
}
.team div p{
  display: none;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  color: white;
}
.team div:hover p{
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: rgba(5,0,0,0.5);
}
#cap{
  color: grey!important;
  font-size: 12px;
}

@media screen and (max-width:600px){
    .whyWe{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        height: auto;
    }
}



/*======================================================================================*/
/*================================== WHY TO DONATE PAGE ================================*/
/*======================================================================================*/

.why #dashboard{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 500px;
  background: #daecf3;
}
#dashboard svg{
  flex-grow: 1;
}

/*======================================================================================*/
/*================================== ELIGIBILITY PAGE ================================*/
/*======================================================================================*/

h1{
    text-align: center;
    color:#fe424d;
    margin: 15px;
    font-family: sans-serif;
    font-weight: bold;
}
 hr{
    height: 3px;
    background-color: black;

}
main.eligible p{
    font-size: 1.75rem;
    margin: 20px;
}

/*======================================================================================*/
/*========================================= END OF FILE ================================*/
/*======================================================================================*/
#chartdiv {
  width: 100%;
  height: 500px;
}
